name: Deploy Portfolio to GitHub Pages

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions for GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Use a stable Node version
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build # This command generates the 'dist' directory

      # Uploads the 'dist' directory contents as an artifact named 'github-pages-artifact'
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist' # The directory that contains your built files

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment-url.outputs.url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment-url
        uses: actions/deploy-pages@v4
